/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MY CSS HERE */

body {
    font-family: "Roboto";
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    background-color: rgb(133, 253, 227);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-auto-rows: auto;
    font-weight: bold;
}

.dashboard {
    display: flex;
    margin: 10px 0 0 15px;
    align-items: center;
    gap: 12px;
    font-size: 32px;
}

.dashboard img {
    height: 48px;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 40px 0 0 25px;
    gap: 16px;
}

.sidebar-content div {
    display: flex;
    gap: 26px;
    align-items: center;
    font-size: 24px;
}

.sidebar-content div img {
    height: 24px;
}

.sidebar-content div:nth-child(7) {
    margin-top: 40px;
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
}

.top-header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: flex;
    margin: 32px 0 32px 32px;
}

.top-header img {
    height: 24px;
    margin-right: 16px;
}

.top-header input {
    border: none;
    background-color: rgb(221, 223, 226);
    border-radius: 32px;
}

.bottom-header {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    display: flex;
}

.main-content {
    background-color: rgb(221, 223, 226);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

img {
    height: 48px;
}